@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle switch para cambiar idioma */
input:checked + .w-11 .dot {
    transform: translateX(100%);
    background-color: #374151;
  }

  /* Añade estas reglas a tu CSS */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  
  .active-link {
    border-bottom: 2px solid #1de9b6; /* Cambia el color según el diseño */
    color: #1de9b6; /* Color del texto activo */
  }
  
  .active-link:hover {
    color: #1de9b6; /* Asegúrate de que el color no cambie al pasar el ratón */
  }
  
  /* Ajuste general del header para pantallas pequeñas */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Ocultar el menú inicialmente en móviles */
  nav ul {
    display: none; /* Oculta el menú inicialmente */
    flex-direction: column; /* Hace que los enlaces del menú se apilen verticalmente */
    gap: 0.5rem;
  }

  /* Mostrar el menú cuando se haga clic en el botón "hamburguesa" */
  nav ul.show {
    display: flex; /* Muestra el menú cuando se active */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    width: 100%; /* Hace que el menú ocupe todo el ancho */
    padding: 1rem; /* Espaciado interno */
  }

  nav ul li a {
    font-size: 1.2rem; /* Ajusta el tamaño del texto de los enlaces */
  }

  /* Mostrar el botón "hamburguesa" en pantallas pequeñas */
  #menu-toggle {
    display: block;
    font-size: 2rem; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor cuando se pasa el ratón por encima */
  }

  /* Ajusta los íconos de redes sociales en móviles */
  .social-icons {
    margin-top: 1rem;
    flex-direction: column; /* Los íconos en vertical */
    gap: 0.5rem;
  }
}

/* Para pantallas más grandes (desktop), el menú es visible por defecto */
@media (min-width: 769px) {
  #menu-toggle {
    display: none; /* Oculta el botón "hamburguesa" en pantallas grandes */
  }

  nav ul {
    display: flex; /* Menú visible por defecto en pantallas grandes */
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  #inicio h1 {
    font-size: 2rem; /* Tamaño más pequeño para móviles */
  }

  #inicio img {
    width: 100%;
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen en móviles */
  }

  #inicio h2 {
    font-size: 1.8rem;
  }

  #inicio p {
    font-size: 1rem;
  }
}


