@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle switch para cambiar idioma */
input:checked + .w-11 .dot {
    transform: translateX(100%);
    background-color: #374151;
  }

  /* Añade estas reglas a tu CSS */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  
  